<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
<head>
  <header>   
    <%- include('./partials/navBar.ejs') %> 
      </header>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
        <br>
        <br>
		<h1>SignUp </h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="****"method="post">
					<input class="text" type="text" name="username" placeholder="Username" required="">
					
          <input class="text" type="password" name="password" placeholder="Password" required="">
          <br>
					
						<div class="clear"> </div>
					</div>
					<input type="submit" value="LOGIN">
				</form>
				<p>Don't have an Account? <a href="/movies/SignUp"> Sign up  Now!</a></p>
			</div>
		</div>
    <!-- //main -->
    <%-include('./partials/footer.ejs')  %> 
</body>
</html>
