<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nerfli</title>
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/uikit.min.css">

<head>
  <header>   
    <%- include('./partials/navBar.ejs') %> 
      </header>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper"></div>
	<br>
	<main style=" 
	text-align: center;
margin-top: 15%;">
		<h1>SignUp </h1>

		<% if (typeof errors != 'undefined') { %>
			<% for( let i = 0; i < errors.length; i++ ) { %>
			<h2><%= errors[i].msg %> !</h2>
			<% } %>
		<% } %>


		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/movies/addUser" method="POST">


					


					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon" uk-icon="icon: user"></span>
							<input class="uk-input"type="text" name="username" placeholder="Username" required="">
						</div>
					</div>


					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon" uk-icon="icon: user"></span>
							<input class="uk-input" type="email" name="email" placeholder="Email" required="">
						</div>
					</div>


					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
							<input class="uk-input"  type="password" name="password" placeholder="Password" required="">
						</div>
					</div>

					<div class="uk-margin">
						<div class="uk-inline">
							<span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
							<input class="uk-input"  type='text' name="birthdate" placeholder="YYYY-MM-DD" required=''>
						</div>
					</div>


					
						<br><br>
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<br>
						<div class="clear"> </div>
					
				<button type="submit"  style="margin-top: 10px;" class="uk-button uk-button-danger" value="SIGNUP">
	  
					SignUp
				</button>
				</form>
			</div>
		</div>
		<% if (typeof errors != 'undefined') { %>
			<% for( let i = 0; i < errors.length; i++ ) { %>
			<h2><%= errors[i].msg %> </h2>
			<% } %>
		<% } %>
		
			</main>
	<%-include('./partials/footer.ejs')  %> 
</body>
</html>
